<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Visite Prenotate</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" th:href="@{/css/planepagesform.css}" />
</head>
<body>

  <!-- Header -->
  <div th:replace="fragments/header :: header"></div>

  <div class="container">
    <h1>Le tue visite prenotate</h1>

    <section th:if="${bookings == null or bookings.isEmpty()}">
      <p class="text-center">Non hai prenotato nessuna visita al momento.</p>
    </section>

    <section th:if="${bookings != null and !bookings.isEmpty()}">
      <table>
        <thead>
          <tr>
            <th>Modello Aereo</th>
            <th>Immagine</th>
            <th>Data Visita</th>
            <th>Stato</th>
            <th class="text-center">Nome Guida</th>
            <th class="text-center">Telefono Guida</th>
            <th class="text-center">Azioni</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="booking : ${bookings}">
            <td th:text="${booking.airplane.modelName}">Modello</td>
			<td class="text-center">
			  <img th:src="@{/airplane/{id}/image(id=${booking.airplane.id})}" alt="Immagine Aereo" />
			</td>
            <td th:text="${#temporals.format(booking.visitDateTime, 'dd/MM/yyyy HH:mm')}">
              dd/MM/yyyy HH:mm
            </td>
            <td th:text="${booking.status}">Stato</td>
            <td class="text-center"
                th:text="${booking.status.name() == 'CONFERMATO' && booking.guideSurname != null ? booking.guideSurname : 'N.D.'}">
              N.D.
            </td>
            <td class="text-center"
                th:text="${booking.status.name() == 'CONFERMATO' && booking.guidePhone != null ? booking.guidePhone : 'N.D.'}">
              N.D.
            </td>
            <td class="text-center">
              <form th:action="@{'/user/cancelBooking/' + ${booking.id}}"
                    method="post">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}" />
                <button type="submit"
                        class="btn-cancel"
                        th:disabled="${booking.status.name() == 'ANNULLATO' 
                                     || booking.status.name() == 'RIFIUTATO'
                                     || booking.status.name() == 'CONFERMATO'}">
                  Annulla
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <!-- Footer -->
  <div th:replace="fragments/footer :: footer"></div>

</body>
</html>
